<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                        http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <servers>
        <server>
            <id>sonatype-nexus-snapshots</id>
            <username>WispY</username>
            <password>{VK7wLcwGwF8H36V17RmbG3zT9z6eyQyoneJ5mrgwQ9w=}</password>
        </server>

        <server>
            <id>sonatype-nexus-staging</id>
            <username>WispY</username>
            <password>{VK7wLcwGwF8H36V17RmbG3zT9z6eyQyoneJ5mrgwQ9w=}</password>
        </server>

        <server>
            <id>sourceforge.net</id>
            <username>owispyo</username>
            <password>{8gFUwt7FXU4HisYb46v6VHW4sI8wT6pgOKtQoWz7qzg=}</password>
        </server>
    </servers>
</settings>